name: Flutter CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up FVM
        uses: kuhnroyal/flutter-fvm-config-action@v2
        with:
          path: 'our_archive/.fvm/fvm_config.json'

      - name: Install Flutter dependencies
        working-directory: ./our_archive
        run: fvm flutter pub get

      - name: Run Flutter analyze
        working-directory: ./our_archive
        run: fvm flutter analyze

      - name: Run tests
        working-directory: ./our_archive
        run: fvm flutter test
